/* ==========================================================================
Styles for Card component
========================================================================== */

// import variables, mixin, function
@import "../../../assets/styles/variables", "../../../assets/styles/mixin", "../../../assets/styles/function";

// Start styles Card component
.m-card {
  display: flex;
  background-color: $white;
  border-radius: 4px;
  margin: 15px 10px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 2px 4px 8px rgba(228, 234, 243, 1);
    transform: scale(1.02);
  }


  .m-card-indicator {
    &.success {
      background-color: $green;
      width: 10px;
      border-radius: 5px 0 0 5px;
    }
    &.pending {
      background-color: $orange;
      width: 10px;
      border-radius: 4px 0 0 4px;
    }

  }
  .m-card-container-left {
    font-size: 14px;
    margin: 10px;
    width: 100%;
  }
  .m-card-container-right {
    font-size: 12px;
    width: 100%;
    position: relative;
    margin: 10px;
    .m-card-status {
      padding: 5px 25px;
      color: $white;
      border-radius: 4px;
      position: absolute;
      right: 0;
      top: 30%;
      &.success {
        background-color: $green;
        text-align: center;
      }
      &.pending {
        background-color: $white;
        color: $black;
        border: 1px $orange solid;
        text-align: center;
      }
    }
  }
}
