/* ==========================================================================
Styles for Button component
========================================================================== */

// import variables, mixin, function
@import "../../../assets/styles/variables", "../../../assets/styles/mixin", "../../../assets/styles/function";

// Start styles Button component
.a-button {
  border: 1px solid $orange;
  background-color: $cloud;
  color: $orange;
  padding: 7px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
