/* ==========================================================================
Styles for InputDropdown component
========================================================================== */

// import variables, mixin, function
@import "../../../assets/styles/variables", "../../../assets/styles/mixin", "../../../assets/styles/function";

// Start styles InputDropdown component
.m-input-dropdown {
  display: flex;
  margin: 10px;
  position: relative;
  .m-input-dropdown-icon {
    font-size: 14px;
    color: #d3d3d3;
    position: absolute;
    top: 11px;
    left: 15px;
  }
  .m-input {
    height: 35px;
    width: 70%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d3d3d3;
    outline: none;
    padding-left: 33px;
    color: gray;
    font-size: 16px;

    &::placeholder {
      color: #d3d3d3;
      font-size: 14px;
    }

    &.focus {
      outline: none;
    }
  }
  .select-dropdown,
  .select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    color: $black;
  }
  .select-dropdown {
    position: relative;
    background-color: $white;
    border-radius: 0 4px 4px 0;
    border: 1px solid #d3d3d3;
    width: 30%;
    border-left: $white;

  }
  .select-dropdown {
    div{
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      padding-right: 30px;
      cursor: pointer;
      p{
        font-weight: 600;
      }
    }
    ul{
      right: 0;
      top: 40px;
      list-style: none;
      position: absolute;
      background-color: $white;
      width: 100%;
      z-index: 2;
      border-radius: 4px;
      box-shadow: 2px 4px 8px rgba(228, 234, 243, 0.6);
      li{
        cursor: pointer;
        padding: 10px 20px;
        transition: all ease .3s;
        &:hover{
          background-color: rgb(255, 240, 240);
        }
      }
    }

  }
  .select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
  }
  .select-dropdown:after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    width: 7px;
    height: 7px;
    margin-top: -2px;
    // border-top: 5px solid #aaa;
    border-right: 3px solid $orange;
    border-bottom: 3px solid $orange;
    transform: rotate(45deg);
  }


}
